<!DOCTYPE html>
<html lang="en">

{% include 'salikneta/includes/head.html' %}


<body>
  <section id="container">
      {% include 'salikneta/includes/pos_header.html' %}

      <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-5">
              <div class="custom-box" style="padding-left: 15px;padding-right: 15px;padding-top: 0;">
                  <div class="row text-left" style="background-color: #03DAC6;padding: 10px">
                  <h4 style="margin: 0;padding: 0; color: black">Sales invoice</h4>
                  </div>
                  <div class="row">
                        <table class="table table-hover">
                        <thead>
                          <tr>
                            <th style="text-align: left; width:50%" >Item</th>
                            <th style="text-align: right; width:12.5%">Quantity</th>
                            <th style="text-align: right; width:12.5%">Discount</th>
                            <th style="text-align: right; width:25%">Rate</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="text-align: left">Rubber Dildo</td>
                            <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                              <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                            <td style="text-align: right"><b>P 75.00</b><br><p class="text-muted">(25.0)</p></td>
                          </tr>
                        <tr>
                            <td style="text-align: left">Rubber Dildo</td>
                            <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                              <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                            <td style="text-align: right"><b>P 75.00</b><br><p class="text-muted">(25.0)</p></td>
                          </tr>
                        <tr>
                            <td style="text-align: left">Rubber Dildo</td>
                            <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                              <td style="text-align: right">
                                <input type="text" class="form-control input-sm"  value="3"/>
                            </td>
                            <td style="text-align: right"><b>P 75.00</b><br><p class="text-muted">(25.0)</p></td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <div class="row" style="padding: 10px">
                          <div class="col-md-6 text-left">
                              <b>Net Total</b>
                          </div>
                          <div class="col-md-6 text-right">
                              <b>P 669.0</b>
                          </div>
                      </div>
                    </div>
              <div>
                <a class="btn btn-theme" href="#">Pay</a>
                <a class="btn btn-theme" href="#">Cancel</a>
              </div>
              </div>
            </div>
              <!-- end custombox -->
            <!-- end col-4 -->
            <div class="col-lg-7">
                  <div class="custom-box" style="padding-left: 15px;padding-right: 15px;padding-top: 0;">
                  <div class="row text-left" style="padding: 10px;padding-bottom: 0px">
                  <input type="text" class="form-control input-sm" placeholder="Search Item"/>
                  </div>
                  <div class="row" style="padding-top: 0;margin-top: 0px;">
                      <hr style="border-color: silver">
                  </div>
              <div>
                <a class="btn btn-theme" href="#">Pay</a>
                <a class="btn btn-theme" href="#">Cancel</a>
              </div>
              </div>

              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
      <!-- /wrapper


                <div class="weather-2 pn" style="background-color: white">
                  <div class="weather-2-header">
                    <div class="row">
                      <div class="col-sm-6 col-xs-6">
                        <p>SALES INVOICE 000001</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 goright">
                        <p class="small">2018-09-12</p>
                      </div>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>RUbber Dildo</td>
                            <td>3</td>
                            <td>P 126.00</td>
                          </tr>
                          <tr>
                            <td>RUbber Dildo</td>
                            <td>3</td>
                            <td>P 126.00</td>
                          </tr>f
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
       -->
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  </section>

</body>

</html>
