<!DOCTYPE html>
<html lang="en">

{% include 'salikneta/includes/head.html' %}


<body>
  <section id="container">
      {% include 'salikneta/includes/pos_header.html' %}

      <section class="wrapper site-min-height">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="weather-2 pn" style="background-color: white">
                  <div class="weather-2-header">
                    <div class="row">
                      <div class="col-sm-6 col-xs-6">
                        <p>SALES INVOICE 000001</p>
                      </div>
                      <div class="col-sm-6 col-xs-6 goright">
                        <p class="small">2018-09-12</p>
                      </div>
                    </div>
                    <div class="row">

                    </div>
                  </div>


                </div>
            </div>
              <!-- end custombox -->
            <!-- end col-4 -->
            <div class="col-lg-8">
              <div class="custom-box">
                <div class="servicetitle">
                  <h4>Mega Pack</h4>
                  <hr>
                </div>
                <div class="icn-main-container">
                  <span class="icn-container">$55</span>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
                <ul class="pricing">
                  <li>150 Mb Storage</li>
                  <li>1 Domain</li>
                  <li>2 Sub Domains</li>
                  <li>3 MySQL DBs</li>
                  <li>2 Emails</li>
                  <li>WordPress Installation</li>
                  <li>24/7 Support</li>
                </ul>
                <a class="btn btn-theme" href="#">Order Now</a>
              </div>
              <!-- end custombox -->
            </div>
            <!-- end col-4 -->
          </div>
          <!--  /col-lg-12 -->
        </div>
        <!--  /row -->
      </section>
      <!-- /wrapper -->
    <!-- /MAIN CONTENT -->
    <!--main content end-->
  </section>

</body>

</html>
