{% include 'salikneta/includes/head.html' %}
<body>
  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">

            <script>
                {% if messages %}
                    {% for message in messages %}
                        alert("{{ message }}");
                    {% endfor %}
                {% endif %}
            </script>
    <div class="container">
      <form class="form-login" method="post" action="{% url 'verify' %}">
          {% csrf_token %}
          <h2 class="form-login-heading">Salikneta POSIS <p class="text-muted" style="font-size: 14px">Sales and Inventory System</p></h2>
        <div class="login-wrap">
          <input type="text" class="form-control" name="user" placeholder="Username / Email" autofocus>
          <br>
          <input type="password" class="form-control" name="password" placeholder="Password"><br>

          <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
          <hr>

          <div class="registration">
            Don't have an account yet?<br/>
            <a class="" href="{% url 'register' %}">
              Create an account
              </a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>

      {% load staticfiles %}
    $.backstretch("{% static 'img/salikneta_bg.jpg' %}", {
      speed: 500
    });
  </script>
</body>

</html>
