
{% load staticfiles %}
{% include 'salikneta/includes/head.html' %}
<html>
<body>
  <section id="container">

{% include 'salikneta/includes/header.html' %}
 <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">ADD NEW CATEGORY</h4>
                    </div>
                    <div class="modal-body">

                  <div class="login-wrap">
                  <label class="control-label">Category name</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category name" autofocus>
                            <br>
                  <label class="control-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Description"><br>


                          </div>



                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" onclick="addCategory()" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>


    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> Categories</h4>
              <button class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal" style="margin-bottom: 1vh">Add Category</button>

                <table id="cat_tbl" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                    </tr>
                  </thead>
                  <tbody id ="categoryBody">
                    {% for category in categories %}
                      <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <script>
                    $(document).ready(function() {
                        $('#cat_tbl').DataTable();
                    } );
                </script>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
<!---->
		    </section>
		</section>
	</section>
</body>
<script>
    function addCategory(){
      var categoryName = $("#categoryName").val();
      var description = $("#description").val();
      if(categoryName != "" && description != ""){
        alert("New category has been added!");
        $.ajax({
          url: '{% url "ajaxAddCategory" %}',
          data: {
            "categoryName":categoryName,
            "description":description,
          },
          dataType: 'json',
          success: function(data){  
            
          }
          
       });
        wew = "<tr><td>" + categoryName + "</td><td>" + description + "</td></tr>";

        $("#categoryBody").append(wew); 
        $("#categoryName").val("");
        $("#description").val("");
       //  $.ajax({
       //    url: '{% url "ajaxGetUpdatedCategories" %}',
       //    data: {


       //    },
       //    dataType: 'json',
       //    success: function(data){  
       //      console.log(data);
       //      wew = "";
       //      for(var i = 0; i < data.length; i++){

       //        wew += "<tr><td>" + data[i].name + "</td><td>" + data[i].description + "</td></tr>";
       //      }
       //      $("#categoryBody").html(wew);
       //    }
          
       // });
      }


    }
</script>
            <!--custom chart end-->
            </html>