
{% load staticfiles %}
{% include 'salikneta/includes/head.html' %}
<body>
  <section id="container">

{% include 'salikneta/includes/header.html' %}
 <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
	            <div class="border-head">
	              <h1>SUPPLIERS</h1>
	            </div>
	            </div>
       		 </div>
		    </section>
		</section>
	</section>
</body>
            <!--custom chart end-->