
{% load staticfiles %}
{% include 'salikneta/includes/head.html' %}
<body>
  <section id="container">

  <style>
.datepicker{z-index:1151 !important;}
</style>

{% include 'salikneta/includes/header.html' %}
 <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12">

            <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> Purchase Order</h4>
              <button class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal" style="margin-bottom: 1vh">Add Purchase Order</button>

                <table id="cat_tbl" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Order Date</th>
                      <th>Expected Date</th>
                      <th>Supplier</th>
                      <th>Status</th>
                      <th>Print</th>
                    </tr>
                  </thead>
                  <tbody id ="categoryBody">
                   

                      {% for po in purchaseOrders reversed %}
                     <tr>
                        <td>{{po.pk}}</td>
                        <td>{{po.orderDate}}</td>
                        <td>{{po.expectedDate}}</td>
                        <td>{{po.idSupplier.name}}</td>
                        <td>{{po.status}}</td>
                        <td><button class="btn btn-round btn-primary" data-toggle="modal" data-target="#myModal{{po.pk}}">View</button>
                         <!-- Modal -->
                          <div class="modal fade" id="myModal{{po.pk}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel">VIEW PURCHASE ORDER</h4>
                                </div>
                                <div class="modal-body">
                                  <div id="print_div_{{po.pk}}">
                                  <h4>PURCHASE ORDER  #{{po.pk}}</h4>

                                  {% if po.status == "In Transit" %}

                                    <h5 style="color: blue;">{{po.status}}</h5>
                                  {% endif %}

                                  {% if po.status == "PARTIALLY RECEIVED" %}

                                    <h5 style="color: grey;">{{po.status}}</h5>
                                  {% endif %}
                                  
                                  {% if po.status == "RECEIVED" %}

                                    <h5 style="color: green;">{{po.status}}</h5>
                                  {% endif %}

                                    <div class="login-wrap">
                                <div class="row">
                                  <div class="col-md-6">
                                    
                                    <label><strong>Supplier</strong></label>
                                      <br>
                                    <label>{{po.idSupplier.name}}</label>

                                

                                  </div>
                                  <div class="col-md-6">
                                    <label><strong>Ship to</strong></label>
                                      <br>
                                    <label>{{po.idSupplier.name}}</label>
                                  </div>

                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    
                                    <label><strong>Order Date</strong></label>
                                      <br>
                                    <label>{{po.orderDate}}</label>

                                

                                  </div>
                                  <div class="col-md-6">
                                    <label><strong>Expected Date</strong></label>
                                      <br>
                                    <label>{{po.expectedDate}}</label>
                                  </div>

                                </div>
                                <br>
                                <div class="row">
                                  <div class="col-md-12">
                                    <table class="table table-hover" id="forPO{{po.pk}}"> 
                                      <thead>
                                        <tr>
                                          <th width="25%">Item name</th>
                                          <th>Qty ordered</th>
                                          <th>Pending</th>
                                        </tr>
                                      </thead>
                                        
                                      <tbody>
                                        {% for o in po.get_orderLines %}
                                        <tr>
                                          <td>{{ o.idProduct.name }}</td>
                                          <td>{{ o.qty }}</td>
                                          <td>{{ o.get_pending }}</td>

                                        </tr>
                                       

                                        {% endfor %}

                                      </tbody>


                                    </table>
                                    <table class="table table-hover" id="forDelivery{{po.pk}}" style="display: none;">
                                      
                                      <thead>
                                        <tr>
                                          <th width="25%">Item name</th>

                                          <th>Qty ordered</th>
                                          <th>Pending</th>
                                          <th>Qty delivered</th>
                                        </tr>
                                      </thead>
                                      <tbody id="deliveryForm{{po.pk}}">
                                        {% for o in po.get_orderLines %}
                                        <tr>
                                          <td class="{{o.pk}}">{{ o.idProduct.name }}</td>
                                          <td>{{ o.qty}}</td>
                                          <td>{{ o.get_pending}}</td>
                                          <td><input class="form-control" type="number" value="1" /><span class="i{{o.idProduct.pk}}"></span></td>
                                        </tr>



                                       

                                        {% endfor %}

                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                                </div>
                                  </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                  {% if po.status == "In Transit" or po.status == "PARTIALLY RECEIVED" %}

                                    <button type="button" id="receiveBtn{{po.pk}}" onclick="forDelivery('{{po.pk}}')" class="btn btn-success">Receive</button>
                                  {% endif %}

                                  <button type="button" id="saveBtn{{po.pk}}" onclick="saveDelivery('{{po.pk}}')" style="display: none;" class="btn btn-success">Save</button>
                                  <button type="button" id="printBtn{{po.pk}}" onclick="printDiv('print_div_{{po.pk}}')" class="btn btn-primary" style="float: left;">Print</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </td>


                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                <script>
                    $(document).ready(function() {
                        $('#cat_tbl').DataTable();
                    } );
                </script>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>

        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
              


              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">ADD PURCHASE ORDER</h4>
                    </div>
                    <div class="modal-body">

                  <div class="login-wrap">
                          <div class="row">
                              <div class="col-md-6">
                                <label>Supplier</label>
                                <select class="form-control" id="supplier">
                                  {% for supplier in suppliers %}
                                    <option value="{{supplier.pk}}">{{supplier.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="col-md-6">
                                <label>Ship to</label>
                                <select class="form-control" id="shipTo">
                                  <option>{{branch}}</option>
                                    
                                </select>
                              </div>
                          </div>
                          <br>

                          <div class="row">
                            <div class="col-md-6">
                              
                                <label>Purchase order date</label>
                                 <div class="form-group">

                                  <div class="col-md-9 col-xs-11">
                                    <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="01-01-2014" class="input-append date dpYears">
                                      <input type="text" id="orderDate" readonly="" value="01-01-2014" size="16" class="form-control">
                                      <span class="input-group-btn add-on">
                                        <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                  </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label>Expected on</label>
                                 <div class="form-group">

                                  <div class="col-md-9 col-xs-11">
                                    <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="01-01-2014" class="input-append date dpYears">
                                      <input type="text" id="expectedDate" readonly="" value="01-01-2014" size="16" class="form-control">
                                      <span class="input-group-btn add-on">
                                        <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                  </div>
                                </div>
s

                            </div>

                           
                          </div>
                          <br>
                          <div class="row">
                            <div class="col-md-12">
                              <h4>Items</h4>  
                            </div>

                            
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <table class="table table-hover"> 
                                <thead>
                                  <tr>
                                    <th>Item name</th>
                                    <th>In stock</th>
                                    <th>Incoming</th>
                                    <th>Quantity</th>
                                  </tr>
                                </thead>
                                <tbody id="tableData">
                                 
                                 

                                </tbody>
                              </table>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                              <button class="form-control" type="button" onclick="appendRow()">+</button>
                            </div>
                            <div class="col-md-4"></div>
                          </div>




                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" onclick="see()" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>



             







  </section>
</body>
<script>

    function printDiv(div) {
        var printStr = "<script>"+"window.print();</"+"script>";
        var printCont = document.getElementById(div);
        var html = '<html><head>'+
               '<title>PO_RECEIPT</title>'+
               '</head><body style="background:#ffffff;">'+
               printCont.innerHTML+
               '</body></html>'+printStr;
        var WindowObject =window.open('',"Print Window",
            "width=1000,height=1000,top=200, left=200, toolbars=no, scrollbars=no,resizable=no");
        WindowObject.document.writeln(html);
        WindowObject.document.close();
        WindowObject.focus();
        WindowObject.print();
        WindowObject.close();

    }
  function itemObject(idProduct, productName, unitsInStock,incoming){
  this.idProduct = idProduct;
  this.productName = productName;
  this.unitsInStock = unitsInStock;
  this.incoming = incoming;
}



  function appendRow(){
    var items = new Array()
    {% for p in products %}
      items.push(new itemObject("{{p.pk}}","{{p.name}}","{{p.unitsInStock}}","{{p.get_num_incoming}}"));

    {% endfor %}

    var tbl = document.getElementById("tableData");
    var rCount = tbl.rows.length + 1;
    wew = '<tr>'+
      '<td>'+
        '<select class="form-control" id="dropdown'+rCount +'" onchange=updateInStock('+rCount+')>';

        for(var i = 0; i < items.length; i++){
          wew += '<option value="' + items[i].idProduct+ '"> ' +items[i].productName+ ' </option>';
        }
    wew += '</select>'+
      '</td>'+
      '<td id="unitsInStock' + rCount+ '">' + items[0].unitsInStock + '</td>'+
      '<td id="incoming'+rCount+'">' + parseInt(items[0].incoming)+'</td>'+
      '<td><input type="number" class="form-control" value="1"></td>'+
    '</tr>';
    $("#tableData").append(wew);


    
  }
  function updateInStock(id){
    var td = document.getElementById("unitsInStock"+id);
    var t2 = document.getElementById("incoming"+id);
    var dropdown = document.getElementById("dropdown"+id);

    
      $.ajax({
      url: '{% url "ajaxGetInStock" %}',
      data: {
        "idProduct":dropdown.value,
      },
      dataType: 'json',
      success: function(data){  
        td.innerHTML = data[0].unitsInStock;
        t2.innerHTML = data[0].incoming;
        console.log(data);
      }
      
   });
  }
  function forDelivery(id){
    $("#forDelivery"+id).show();
    $("#forPO"+id).hide();
    $("#printBtn"+id).hide();
    $("#receiveBtn"+id).hide();
    $("#saveBtn"+id).show();
  }

  function saveDelivery(id){

    var tbl = document.getElementById("deliveryForm"+id);
    var rCount = tbl.rows.length; 
    var products = new Array();
    var qty = new Array();
    var ordered = new Array();
    var lines = new Array();

    for(var i = 0; i < rCount; i++){
      lines.push(tbl.rows[i].cells[0].className);
      ordered.push(tbl.rows[i].cells[2].innerHTML);
      products.push((tbl.rows[i].cells[3].children[1].className).substr(1));

      qty.push(tbl.rows[i].cells[3].children[0].value);
    } 



    $.ajax({
      url: '{% url "ajaxSaveDelivery" %}',
      data: {

        "products[]":products,  
        "quantity[]":qty,
        "lines[]":lines,
        "ordered[]":ordered,

        "idPurchaseOrder":id,
      },
      dataType: 'json',
      success: function(data){  
        alert("Items are successfully received");
        window.location.href = "{% url 'purchaseOrder'%}";
      }
      
   });

  }
  function see(){
    var supplier = $("#supplier").val();
    var shipTo = $("#shipTo").val();
    var orderDate = $("#orderDate").val();
    var expectedDate = $("#expectedDate").val();
    var tbl = document.getElementById("tableData");
    var rCount = tbl.rows.length;
    var products = new Array();
    var quantity = new Array();

    for(var i = 0; i < rCount; i++){
      products.push(tbl.rows[i].cells[0].children[0].value);
      quantity.push(tbl.rows[i].cells[3].children[0].value);
      // alert(tbl.rows[i].cells[0].children[0].value); 
    }

    $.ajax({
      url: '{% url "ajaxAddPurchaseOrder" %}',
      data: {
        "supplier":supplier,
        "shipTo":shipTo,
        "orderDate":orderDate,
        "expectedDate":expectedDate,

        "products[]":products,  
        "quantity[]":quantity,
      },
      dataType: 'json',
      success: function(data){  

        alert("New purchase order is successfully added!");
        window.location.href = "{% url 'purchaseOrder'%}";

      },
      error: function () {
        alert("error");
      },
      
   });

  

  }
</script>
            <!--custom chart end-->